<%- include partials/header.ejs %>

<div class=" panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Kala is mother of Naga and Sowji and wife of Rao. She is a house maker. She really took a good care of both of us.</p>
</div>
</body>
</html>
<%- include partials/footer.ejs %>