<%- include partials/header.ejs %>

<div class=" panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Naga is the second kid of Rao and Kala. He worked as OS Deployment Subject Matter Expert in India and worked as an Accessibility Technology Analyst at Ministry of Children, Youth and Social Services. Connor is also enrolled in the COPR program at Georgian College. His favourite pastime is playing tennis and badminton.</p>
</div>
</body>
</html>
<%- include partials/footer.ejs %>