<%- include partials/header.ejs %>

<div class=" panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Rao is father of Naga and Sowji and husband of Kala. He is lovely father and a friend to both of us. We are in a good position because of him. He works as a Development Officer in India. He is har-working person and stood in first place in many events conducted at his office.</p>
</div>
</body>
</html>
<%- include partials/footer.ejs %>