<%- include partials/header.ejs %>

<div class=" panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Sowji is the first kid of Rao and Kala. She works as Senior Programmer at Premier Inc. Charlotte, US. She has a lovely daughter named Srusti.</p>
</div>
</body>
</html>
<%- include partials/footer.ejs %>